.selector {
  property: value;
  property: value;
  property: value;
}

.MainContainer {
  width: 490px;
  height: 500px;
  display: inline-flex;
  padding: 8px 8px 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 14px;
  background: #151718;
}

.ProtocolContainer {
  display: flex;
  width: 400px;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

.ProtocolNetworkContainet {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
}

.ProtocolNetworkTextSection {
  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
}

.ProtocolImg {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

.ProtocolText {
  color: rgba(255, 255, 255, 0.60);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ProtocolNetworkSection {
  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.10);
}

.ProtocolNetworkContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.NetworkText {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SendRecieveContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.HeaderContainer {
  display: flex;
  margin: auto;
  width: 460px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.10);
}

.BodyContainer {
  display: flex;
  margin: auto;
  width: 460px;
  height: 320px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.10);
}

.TokenSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.TokenImg {
  width: 32px;
  height: 32px;
}

.TokenNameSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.TokenAction {
  color: rgba(255, 255, 255, 0.60);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TokenName {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TokenNameSelect {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  border: none;
}

.TokenAmountSection {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}

.TokenAmount {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TokenAmountInput {
  color: #FFF;
  text-align: right;
  background: none;
  border: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 150px;
}

.TokenAmountPreview {
  color: rgba(255, 255, 255, 0.60);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.UserBalance {
  cursor: pointer;
  color: rgb(141, 141, 253);
}

.RecieveContainer {
  display: flex;
  width: 450px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.10);
}

.LineContainer {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.Line {
  width: 450px;
  height: 1px;
  background: rgba(255, 255, 255, 0.10);
}

.RecipientContainer {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: flex-start;
}

.RecipientText {
  color: rgba(255, 255, 255, 0.60);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.RecipientValue {
  color: #8D8DFD;
  text-align: right;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ConfirmContainer {
  display: flex;
  height: 40px;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.ConfirmButton {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  background: #8D8DFD;
}

.ConfirmButtonDisabled {
  display: flex;
  cursor: default;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}

.ConfirmText {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ConfirmTextDisabled {
  color: rgb(93 93 93);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TokenInsufficientBalance {
  color: rgb(255 0 0 / 60%);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

option {
  background: rgb(45, 47, 48) !important;
  color: white !important;
}

.turnSection {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.turnButton {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: -14px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgb(255, 255, 255);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid grey;
  background: rgb(45, 46, 47);
}

.turnButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgb(141, 141, 253);
}

.turnImg {
  user-select: none;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  height: 20px;
  width: 20px;
}

.titleSection {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.titlePortfolio {
  margin: 0px;
  font-family: BaselGrotesk, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: block;
  color: white;
}

.networkNameContainer {
  padding: 4px 8px 4px 4px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.1);
  color: #8D8DFD;
  cursor: pointer;
}

.networkName {
  color: #8D8DFD;
  cursor: pointer;
}

.text-5 {
  font-size: 5px;
}

.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.addLiquidityButtonContainer {
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.addLiquidityButton {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgb(141, 141, 253);
  height: 40px;
}

.portfolioCardsContainer {
  margin-inline: 0px;
  width: 100%;
  justify-content: start;
  gap: 10px;
  overflow: auto;
  flexWrap: wrap;
  margin-left: 15px;
}

.portfolioCardContainer {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.portfolioCardPoolName {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

.portfolioCardDetails {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2px;
  font-size: 7px;
}

.portfolioCardDetailsImg {
  width: 15px;
  height: 15px;
  filter: invert(1);
}

.portfolioCardDetailsImg2 {
  width: 15px;
  height: 10px;
  filter: invert(1);
}

.portfolioCardPoolImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.manageLiquidityButtonContainer {
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.manageLiquidityButton {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #8D8DFD;
}

.backButtonContainer {
  font-size: 12px;
  display: flex;
  justify-content: start;
}

.backButton {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  height: 30px;
  border: 1px solid #8D8DFD;
}

.removeLiquidityButtonContainer {
  font-size: 12px;
  display: flex;
  justify-content: start;
}

.removeLiquidityButton {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  height: 30px;
  background: rgb(141, 141, 253);
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.poolNameDetails {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

.badge {
  background: rgb(141, 141, 253);
  border-radius: 10px;
  padding-inline: 7px;
  font-weight: bold;
}

.badgeContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  font-size: 7px;
}

.poolModeDetailImg {
  width: 98%;
  height: 98%;
  border-radius: 10px;
}

.binsButtonContainer {
  font-size: 12px;
  display: flex;
  justify-content: start;
}

.binsButton {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  height: 30px;
  background: #8D8DFD;
}

.removeDetailsBinsContainer {
  margin: auto;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.removeDetailsBins {
  color: white;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.removeDetailsBinsValue {
  display: flex;
  alignItems: center;
  justify-content: right;
}

.removeDetailsBinsImg {
  width: 32px;
  height: 32px;
  filter: invert(1);
  margin-right: 10px;
}

.removeDetailsButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.mr-10 {
  marginRight: 10px;
}

.confirmRemoveButton .approveNFTButton {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgb(141, 141, 253);
  height: 30px;
}

.confirmRemoveButtonDisabled {
  width: 110px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  height: 30px;
}

.onApprovingNFT {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  height: 30px;
  border: 1px solid #8D8DFD;
}

@media (max-width: 400px) {
  .MainContainer {
    width: 360px;
  }

  .ProtocolContainer {
    width: 270px;
  }

  .HeaderContainer {
    width: 330px;
  }

  .Line {
    width: 320px;
  }

  .addLiquidityButtonContainer {
    padding: 5px;
  }

  .TokenImg {
    width: 20px;
    height: 20px;
  }

  .portfolioCardDetails {
    display: grid;
    align-items: end;
  }

  .BodyContainer {
    width: 330px;
  }

  .removeLiquidityButtonContainer {
    padding-inline: 5px;
  }
